@use "../../../shared/ui/variables" as v;

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.input {
  display: block;
  margin: 5px;
  width: 100%;

  @media (min-width: v.$md) {
    height: 25px;
  }
}

.input-label {
  display: block;
  margin: 10px 5px 5px 5px;
}
