@use "../../shared/ui/variables" as v;

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: v.$primary-blue;
  height: 200px;

  img {
    height: 80%;
  }
}

.main {
  background-color: #faf8f5;
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: balance;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  font: {
    size: large;
    family: v.$font;
    weight: bold;
  }

  background-color: v.$primary-blue;
  color: white;
}
