@use "../../../shared/ui/variables" as v;

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}
